.footer {
  padding: 55px 0;

  &__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  &__social {
    justify-self: right;
  }

  &__copyright,
  &__year {
    display: inline-block;
    margin-right: 15px;
  }

  &__link {
    transition: color var(--transition-delay);

    &--center {
      justify-self: center;
    }
    
    &:hover {
      color: var(--color-gold);
    }
  }
}


@include desktop-small {
  .footer {
    padding: 20px 0;

    &__container {
      grid-template-columns: 1fr;
      justify-items: center;
    }

    &__social {
      margin-top: 21px;
      justify-self: center;
    }
  }
}