@font-face {
  font-family: "Inter";
  src: url('../assets/fonts/Inter-VariableFont_slnt\,wght.woff2') format('woff2-variations');
}

@font-face {
  font-family: 'Merriweather';
  src: url('../assets/fonts/Merriweather-Regular.woff2') format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'Merriweather';
  src: url('../assets/fonts/Merriweather-Bold.woff2') format('woff2');
  font-weight: 700;
}
