html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  font-style: normal;
  font-weight: 400;
  font-size: var(--main-font-size);
  line-height: 40px;
  font-weight: 400;
  font-family: var(--font-family);
  color: var(--color-white);
  background-color: var(--color-black);
}

a {
  color: inherit;
  text-decoration: none;
}

img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

button,
input,
textarea,
select {
  font: inherit;
}

textarea {
  resize: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  appearance: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.scroll-lock {
  overflow: hidden;
  position: fixed;
}

.wrapper,
.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  margin: 0 auto;
}

.wrapper {
  position: relative;
}

.container {
  padding: 0 var(--container-padding);
}

.section-indent {
  margin-bottom: 100px;
}

@include tablet {
  .container {
    padding: 0 var(--container-padding-tablet);
  }

  .section-indent {

    &--price {
      margin-bottom: 80px;
    }
  }
}


@include mobile {
  .container {
    padding: 0 var(--container-padding);
  }

  .section-indent {
    margin-bottom: 60px;
  }
}