:root {
  --container-padding: 20px;
  --container-padding-tablet: 60px;

  --main-font-size: 20px;
  --font-family: "Inter", "Arial", sans-serif;
  --secondary-font-family: "Merriweather", "Georgia", serif;

  --color-black: #000000;
  --color-white: #ffffff;
  --color-gold: #bdae82;

  --burger-width: 50px;
  --burger-height: 26px;
  --burger-line-height: 2px;

  --transition-delay: 0.3s ease-in-out; 
}